{% extends "base.html.twig" %}

{% block title %}Fansubs{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
  $('#search-data label').bind('click', function () {
    searchFansubs();
  });

  getFansubData();
});//$(document).ready

function getFansubData() {
  $.get('/api/fansubs', function(object, status) {
    if (object.data.length < 1) {
      $('#fansubs tbody .fansubs_norows').show();
      return;
    }

    $('#fansubs tbody .fansubs_norows').hide();
    $.each(object.data, function (i, item) {
      $('#fansubs tbody').append(
        getFansubRow(item.id, item.name, formatDate(item.createdAt), formatDate(item.updatedAt))
      );
    });
  });
}//getFansubData

function getFansubRow(id, name, created, updated) {
  return `<tr 
      class="fansubs_row"
      data-search-fansub-name="${name}"
    >
    <td>${name}</td>
    <td class="collapsing">${created}</td>
    <td class="collapsing">${updated}</td>
    <td class="collapsing">
      <button class="ui icon button">
      <i class="edit icon"></i>
      </button>
      <button class="ui icon button">
      <i class="trash icon"></i>
      </button>
    </td>
  </tr>`;
}//getFansubRow

function getFansubNoRows() {
  return '<tr class="center aligned fansubs_row"><td colspan="4">Nenhum fansub encontrado</td></tr>';
}//getFansubNoRows

function searchFansubs() {
  $('#fansubs tbody .fansubs_norows').hide();
  $('#fansubs tbody .fansubs_row').show();

  const searchCriteria = $('#search').val();
  if (searchCriteria == '') {
    return;
  }

  let listSize = $('#fansubs tbody .fansubs_row').length;
  let hideCount = 0;

  $('#fansubs tbody .fansubs_row').each(function() { 
    let hide = true;
    
    let row = $(this);
    const fansubName = row.data('search-fansub-name');
    if (fansubName.toLowerCase().includes(searchCriteria.toLowerCase())) {
      hide = false;
    }

    console.log(hide);
    if (hide) {
      row.hide();
      hideCount++;
    }
  });

  if (hideCount == listSize) {
    $('#fansubs tbody .fansubs_norows').show();
  }
}//searchFansubs
</script>
{% endblock %}

{% block body %}
<h1 class="ui dividing header">Fansubs</h1>

<div class="ui grid">
  <div class="two wide column">
    <button class="ui button"><i class="star icon"></i> Novo</button>
  </div>
  <div class="fourteen wide column">
    <div class="ui file action input" id="search-data">
      <input id="search" type="text" placeholder="Search by fansub name">
      <label for="search" class="ui button">
        <i class="search icon"></i>Pesquisar
      </label>
    </div>
  </div>
  <div class="sixteen wide column">
    <table class="ui celled table" id="fansubs">
      <caption></caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th>Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="center aligned fansubs_norows" hidden>
          <td colspan="4">Nenhum fansub encontrado</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}