{% extends "base.html.twig" %}

{% block title %}Fansubs{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
  $('#new_fansub').bind('click', function () {
    fansubModal();
  });

  $('#search-data label').bind('click', function () {
    searchFansubs();
  });

  getFansubData();
  addFormValidation();
});//$(document).ready

$('.form_fansub').submit(function(e){
  e.preventDefault();
  const id = $('#form_fansub_id').val();
  id === '' ? submitNewFansub() : submitEditFansub();
  return false;
});//$('.form_fansub').submit

function submitNewFansub() {
  jsonData = {
    name: $('#form_fansub_name').val()
  };

  $.ajax({
    type: 'POST',
    url: '/api/fansubs',
    data: JSON.stringify(jsonData),
    contentType: 'application/json',
    encode: true,
    success: function (data, textStatus, xhr) {
      $('.fansubs_form').modal('hide');
      getFansubData();
      alertSuccess(`Fansub ${jsonData.name} cadastrado com sucesso`);
    },
    error: function(jqXHR, textStatus, errorThrown) {
      let message = 'Algo de errado não deu certo';

      if (isUnprocessableContent(jqXHR.status)) {
        message = `Fansub ${jsonData.name} já existe`;
      }

      alertError(message);
    },
  });
}//submitNewFansub

function submitEditFansub() {
  alertError('Em breve');
}//submitEditFansub

function getFansubData() {
  $('#fansubs tbody .fansubs_row').remove();
  $.get('/api/fansubs', function(object, status) {
    if (object.data.length < 1) {
      $('#fansubs tbody .fansubs_norows').show();
      return;
    }

    $('#fansubs tbody .fansubs_norows').hide();
    $.each(object.data, function (i, item) {
      $('#fansubs tbody').append(
        getFansubRow(item.id, item.name, formatDate(item.createdAt), formatDate(item.updatedAt))
      );
    });

    $('.fansub_edit').bind('click', function () {
      alertError('Em breve');
    });
    $('.fansub_remove').bind('click', function () {
      alertError('Em breve');
    });
  });
}//getFansubData

function getFansubRow(id, name, created, updated) {
  return `<tr
      class="fansubs_row"
      data-search-fansub-name="${name}"
    >
    <td>${name}</td>
    <td class="collapsing">${created}</td>
    <td class="collapsing">${updated}</td>
    <td class="collapsing">
      <button class="ui icon button fansub_edit">
      <i class="edit icon"></i>
      </button>
      <button class="ui icon button fansub_remove">
      <i class="trash icon"></i>
      </button>
    </td>
  </tr>`;
}//getFansubRow

function getFansubNoRows() {
  return '<tr class="center aligned fansubs_row"><td colspan="4">Nenhum fansub encontrado</td></tr>';
}//getFansubNoRows

function searchFansubs() {
  $('#fansubs tbody .fansubs_norows').hide();
  $('#fansubs tbody .fansubs_row').show();

  const searchCriteria = $('#search').val();
  if (searchCriteria == '') {
    return;
  }

  let listSize = $('#fansubs tbody .fansubs_row').length;
  let hideCount = 0;

  $('#fansubs tbody .fansubs_row').each(function() {
    let hide = true;

    let row = $(this);
    const fansubName = row.data('search-fansub-name');
    if (fansubName.toLowerCase().includes(searchCriteria.toLowerCase())) {
      hide = false;
    }

    if (hide) {
      row.hide();
      hideCount++;
    }
  });

  if (hideCount == listSize) {
    $('#fansubs tbody .fansubs_norows').show();
  }
}//searchFansubs

function fansubModal() {
  $('.fansubs_form')
    .modal({
      closable: false,
      closeIcon: true,
      onHidden: function(){
        clearForm();
      },
      onApprove: function() {
        $('.form_fansub').submit();
        return false;
      }
    })
    .modal('show')
  ;
}//newFansubModal

function addFormValidation() {
  $('.form_fansub')
    .form({
      on: 'submit',
      fields: {
        form_fansub_name: {
          identifier: 'form_fansub_name',
          rules: [
            {
              type: 'empty',
              prompt: 'Informe um nome de fansub'
            }
          ]
        }
      }
    })
  ;
}//addFormValidation

function clearForm() {
  $('.form_fansub').form('reset');
}//clearForm
</script>
{% endblock %}

{% block body %}
<h1 class="ui dividing header">Fansubs</h1>

<div class="ui grid">
  <div class="two wide column">
    <button class="ui button" id="new_fansub"><i class="star icon"></i> Novo</button>
  </div>
  <div class="fourteen wide column">
    <div class="ui file action input" id="search-data">
      <input id="search" type="text" placeholder="Search by fansub name">
      <label for="search" class="ui button">
        <i class="search icon"></i>Pesquisar
      </label>
    </div>
  </div>
  <div class="sixteen wide column">
    <table class="ui celled table" id="fansubs">
      <caption></caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th>Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="center aligned fansubs_norows" hidden>
          <td colspan="4">Nenhum fansub encontrado</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="sixteen wide column">
    <div class="ui modal fansubs_form">
    <i class="close icon"></i>
    <div class="header">Formulário</div>
    <div class="content">
      <form class="ui form form_fansub">
        <input type="hidden" name="form_fansub_id" id="form_fansub_id" value="" />
        <div class="field">
          <label for="form_fansub_name">Nome</label>
          <input type="text" name="form_fansub_name" id="form_fansub_name" placeholder="Nome do fansub">
        </div>
        <div class="ui error message"></div>
        <div class="ui submit primary button">Enviar</div>
      </form>
    </div>
  </div>
</div>
{% endblock %}