{% extends "base.html.twig" %}

{% block title %}Hentai Titles{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
  $('#hentai_titles_new').bind('click', function () {
    openFormModal();
  });

  $('#hentai_titles_search_criteria').keydown(function(e) {
    const keycode = (e.keyCode ? e.keyCode : e.which);
    if (keycode == '13') {
      searchHentaiTitles();
    }
  });

  $('#hentai_titles_search label').bind('click', function () {
    searchHentaiTitles();
  });

  $('#hentai_titles_search_type').bind('change', function () {
    searchHentaiTitles();
  });

  $('#hentai_titles_search_language').bind('change', function () {
    searchHentaiTitles();
  });

  $('#hentai_titles_search_status_download').bind('change', function () {
    searchHentaiTitles();
  });

  $('#hentai_titles_search_status_view').bind('change', function () {
    searchHentaiTitles();
  });

  $('#hentai_titles_search_fansubs').bind('change', function () {
    searchHentaiTitles();
  });

  $('#hentai_titles_search_tags').bind('change', function () {
    searchHentaiTitles();
  });

  getTypeSearch();
  getLanguageSearch();
  getStatusDownloadSearch();
  getStatusViewSearch();
  getFansubsSearch();
  getTagsSearch();

  getHentaiTitleData();
  addFormValidation();
});//$(document).ready

$('.hentai_titles_form').submit(function(e) {
  const isValid = $('.hentai_titles_form').form('is valid');
  if (isValid) {
    e.preventDefault();
    const id = $('#hentai_titles_form_id').val();
    id === '' ? submitNewTag() : submitEditTag();
  }
  return false;
});//$('.hentai_titles_form').submit

function submitNewHentaiTitle() {
  jsonData = {
    name: $('#hentai_titles_form_name').val()
  };

  $.ajax({
    type: 'POST',
    url: '/api/hentai/titles',
    data: JSON.stringify(jsonData),
    contentType: 'application/json',
    encode: true,
    success: function (data, textStatus, xhr) {
      closeFormModal();
      getTagData();
      alertSuccess(`Hentai title ${jsonData.name} created with success`);
    },
    error: function(jqXHR, textStatus, errorThrown) {
      let message = 'Anything wrong is not right';
      alertError(message);
    },
  });
}//submitNewHentaiTitle

function submitEditHentaiTitle() {
  alertInfo('Soon');
}//submitEditHentaiTitle

function getHentaiTitleData() {
  $('#hentai_titles_data tbody .hentai_titles_data_row').remove();
  $.get('/api/hentai/titles', function(object, status) {
    if (object.data.length < 1) {
      $('#hentai_titles_data tbody .hentai_titles_data_norows').show();
      return;
    }

    $('#hentai_titles_data tbody .hentai_titles_data_norows').hide();
    $.each(object.data, function (i, item) {
      $('#hentai_titles_data tbody').append(
        getHentaiTitleRow(
          item.id,
          item.name,
          item.alternativeNames,
          item.type,
          item.language,
          item.episodes,
          item.statusDownload,
          item.statusView,
          item.fansubs,
          item.tags,
          item.videoFiles,
          formatDate(item.createdAt),
          formatDate(item.updatedAt)
        )
      );
    });

    addPopups();

    $('.hentai_titles_edit').bind('click', function () {
      alertInfo('Soon');
    });
    $('.hentai_titles_remove').bind('click', function () {
      alertInfo('Soon');
    });
  });
}//getHentaiTitleData

function getHentaiTitleRow(
  id,
  name,
  alternativeNames,
  type,
  language,
  episodes,
  statusDownload,
  statusView,
  fansubs,
  tags,
  videoFiles,
  created,
  updated
) {
  fansubsMedatada = getHentaiTitleFansubsMetadata(fansubs);
  tagsMetadata = getHentaiTitleTagsMetadata(tags);

  return `<tr
      class="hentai_titles_data_row"
      data-hentai-titles-search-name="${name}"
      data-hentai-titles-search-alternative-names="${getHentaiTitleAlternativeNamesSearch(alternativeNames)}"
      data-hentai-titles-search-type="${type}"
      data-hentai-titles-search-status-download="${statusDownload}"
      data-hentai-titles-search-status-view="${statusView}"
      data-hentai-titles-search-fansubs="${fansubsMedatada.criteria}"
      data-hentai-titles-search-tags="${tagsMetadata.criteria}"
    >
    <td class="collapsing">${id}</td>
    <td>${getHentaiTitleAlternativeNamesPopup(name, alternativeNames)}</td>
    <td class="collapsing">${type}</td>
    <td class="collapsing">${language}</td>
    <td class="collapsing">${episodes}</td>
    <td class="collapsing">${statusDownload}</td>
    <td class="collapsing">${statusView}</td>
    <td class="collapsing">${fansubsMedatada.popup} ${tagsMetadata.popup} ${getHentaiTitleFilesPopup(videoFiles)}</td>
    <td class="collapsing">${created}</td>
    <td class="collapsing">${updated}</td>
    <td class="collapsing">
      <button class="ui icon button hentai_titles_edit">
      <i class="edit icon"></i>
      </button>
      <button class="ui icon button hentai_titles_remove">
      <i class="trash icon"></i>
      </button>
    </td>
  </tr>`;
}//getHentaiTitleRow

function getHentaiTitleAlternativeNamesSearch(alternativeNames) {
  if (alternativeNames.length < 1) {
    return '';
  }

  return alternativeNames.join(';');
}

function getHentaiTitleAlternativeNamesPopup(name, alternativeNames) {
  if (alternativeNames.length < 1) {
    return name;
  }

  const html = `<div class='header'>Alternative Names</div><div class='content'>${alternativeNames.join('<br />')}</div>`;

  return `<div
    class="hentai_titles_popup"
    data-html="${html}">
    ${name} <i class="mouse pointer icon"></i>
  </div>`;
}//getHentaiTitleAlternativeNamesPopup

function getHentaiTitleFansubsMetadata(fansubs) {
  const metadata = {
    criteria: '',
    popup: '',
  };

  if (fansubs.length < 1) {
    metadata.popup = '<div class="ui icon button"><i class="icon"></i></div>';
    return metadata;
  }

  ids = [];
  fansubsName = [];
  $.each(fansubs, function (i, item) {
    ids.push(item.id);
    fansubsName.push(item.name);
  });

  metadata.criteria = ids.join(';');

  const html = `<div class='header'>Fansubs</div><div class='content'>${fansubsName.join('<br />')}</div>`;
  metadata.popup = `<div
    class="ui icon button hentai_titles_popup"
    data-html="${html}">
    <i class="palette icon"></i>
  </div>`;

  return metadata;
}//getHentaiTitleFansubsMetadata

function getHentaiTitleTagsMetadata(tags) {
  const metadata = {
    criteria: '',
    popup: '',
  };

  if (tags.length < 1) {
    metadata.popup = '<div class="ui icon button"><i class="icon"></i></div>';
    return metadata;
  }

  ids = [];
  tagsResourceName = [];
  $.each(tags, function (i, item) {
    ids.push(item.id);
    tagsResourceName.push(item.resourceName);
  });

  metadata.criteria = ids.join(';');

  const html = `<div class='header'>Tags</div><div class='content'>${tagsResourceName.join('<br />')}</div>`;
  metadata.popup = `<div
    class="ui icon button hentai_titles_popup"
    data-html="${html}">
    <i class="palette icon"></i>
  </div>`;

  return metadata;
}//getHentaiTitleTagsMetadata

function getHentaiTitleFilesPopup(files) {
  if (files.length < 1) {
    return '<div class="ui icon button"><i class="icon"></i></div>';
  }

  const html = `<div class='header'>Files</div><div class='content'>${files.join('<br />')}</div>`;

  return `<div
    class="ui icon button hentai_titles_popup"
    data-html="${html}">
    <i class="video icon"></i>
  </div>`;
}//getHentaiTitleFilesPopup

function searchHentaiTitles() {
  $('#hentai_titles_data tbody .hentai_titles_data_norows').hide();
  $('#hentai_titles_data tbody .hentai_titles_data_row').show();

  const searchCriteria = $('#hentai_titles_search_criteria').val();
  const typeCriteria = $('#hentai_titles_search_type').val();
  const languageCriteria = $('#hentai_titles_search_language').val();
  const statusDownloadCriteria = $('#hentai_titles_search_status_download').val();
  const statusViewCriteria = $('#hentai_titles_search_status_view').val();
  const fansubCriteria = $('#hentai_titles_search_fansubs').val();
  const tagCriteria = $('#hentai_titles_search_tags').val();

  const criterias = [];
  criterias.push(searchCriteria);
  criterias.push(typeCriteria);
  criterias.push(languageCriteria);
  criterias.push(statusDownloadCriteria);
  criterias.push(statusViewCriteria);
  criterias.push(fansubCriteria);
  criterias.push(tagCriteria);

  if (criterias.join('') === '') {
    return;
  }

  let listSize = $('#hentai_titles_data tbody .hentai_titles_data_row').length;
  let hideCount = 0;

  $('#hentai_titles_data tbody .hentai_titles_data_row').each(function() {
    let hide = true;

    let row = $(this);
    const nameData = row.data('hentai-titles-search-name');
    if (searchCriteria !== '' && nameData.toLowerCase().includes(searchCriteria.toLowerCase())) {
      hide = false;
    }
    const alternativeNamesData = row.data('hentai-titles-search-alternative-names');
    if (searchCriteria !== '' && alternativeNamesData.toLowerCase().includes(searchCriteria.toLowerCase())) {
      hide = false;
    }

    const typeData = row.data('hentai-titles-search-type');
    if (typeCriteria !== '' && typeCriteria === typeData) {
      hide = false;
    }

    const languageData = row.data('hentai-titles-search-language');
    if (languageCriteria !== '' && languageCriteria === languageData) {
      hide = false;
    }

    const statusDownloadData = row.data('hentai-titles-search-status-download');
    if (statusDownloadCriteria !== '' && statusDownloadCriteria === statusDownloadData) {
      hide = false;
    }

    const statusViewData = row.data('hentai-titles-search-status-view');
    if (statusViewCriteria !== '' && statusViewCriteria === statusViewData) {
      hide = false;
    }

    const fansubsData = row.data('hentai-titles-search-fansubs');
    const fansubsIds = $.isNumeric(fansubsData) ? [fansubsData.toString()] : fansubsData.split(';');
    if (fansubCriteria !== '' && fansubsIds.length > 0 && fansubsIds.includes(fansubCriteria)) {
      hide = false;
    }

    const tagsData = row.data('hentai-titles-search-tags');
    const tagsIds = $.isNumeric(tagsData) ? [tagsData.toString()] : tagsData.split(';');
    if (tagCriteria !== '' && tagsIds.length > 0 && tagsIds.includes(tagCriteria)) {
      hide = false;
    }

    if (hide) {
      row.hide();
      hideCount++;
    }
  });

  if (hideCount == listSize) {
    $('#hentai_titles_data tbody .hentai_titles_data_norows').show();
  }
}//searchHentaiTitles

function getTypeSearch() {
  $.get('/api/hentai/titles/types', function(object, status) {
    if (object.data.length < 1) {
      return;
    }

    $.each(object.data, function (i, item) {
      $('#hentai_titles_search_type').append($('<option>', {
          value: item,
          text: item
      }));
    });
  });
}//getTypeSearch

function getLanguageSearch() {
  $.get('/api/hentai/titles/languages', function(object, status) {
    if (object.data.length < 1) {
      return;
    }

    $.each(object.data, function (i, item) {
      $('#hentai_titles_search_language').append($('<option>', {
          value: item,
          text: item
      }));
    });
  });
}//getLanguageSearch

function getStatusDownloadSearch() {
  $.get('/api/hentai/titles/statuses-download', function(object, status) {
    if (object.data.length < 1) {
      return;
    }

    $.each(object.data, function (i, item) {
      $('#hentai_titles_search_status_download').append($('<option>', {
          value: item,
          text: item
      }));
    });
  });
}//getStatusDownloadSearch

function getStatusViewSearch() {
  $.get('/api/hentai/titles/statuses-view', function(object, status) {
    if (object.data.length < 1) {
      return;
    }

    $.each(object.data, function (i, item) {
      $('#hentai_titles_search_status_view').append($('<option>', {
          value: item,
          text: item
      }));
    });
  });
}//getStatusViewSearch

function getFansubsSearch() {
  $.get('/api/fansubs', function(object, status) {
    if (object.data.length < 1) {
      return;
    }

    $.each(object.data, function (i, item) {
      $('#hentai_titles_search_fansubs').append($('<option>', {
          value: item.id,
          text: item.name
      }));
    });
  });
}//getFansubsSearch

function getTagsSearch() {
  $.get('/api/tags', function(object, status) {
    if (object.data.length < 1) {
      return;
    }

    $.each(object.data, function (i, item) {
      $('#hentai_titles_search_tags').append($('<option>', {
          value: item.id,
          text: item.resourceName
      }));
    });
  });
}//getTagsSearch

function openFormModal() {
  $('.hentai_titles_modal')
    .modal({
      closable: false,
      closeIcon: true,
      onHidden: function(){
        clearForm();
      },
      onApprove: function() {
        $('.hentai_titles_form').submit();
        return false;
      }
    })
    .modal('show')
  ;
}//openFormModal

function closeFormModal() {
  $('.hentai_titles_modal').modal('hide');
}//closeFormModal

function addFormValidation() {
  $('.hentai_titles_form')
    .form({
      on: 'submit',
      fields: {
        hentai_titles_form_name: {
          identifier: 'hentai_titles_form_name',
          rules: [
            {
              type: 'empty',
              prompt: 'Fill name of hentai title'
            }
          ]
        }
      }
    })
  ;
}//addFormValidation

function clearForm() {
  $('.hentai_titles_form').form('reset');
}//clearForm

function addPopups() {
  $('.hentai_titles_popup').popup({delay: {
    show: 700,
    hide: 10
  }});
}//addPopups
</script>
{% endblock %}

{% block body %}
<h1 class="ui dividing header">Hentai Titles</h1>

<div class="ui grid">
  <div class="two wide column">
    <button class="ui button" id="hentai_titles_new"><i class="star icon"></i> New</button>
  </div>
  <div class="fourteen wide column">
    <div class="field">
      <div class="ui file action input" id="hentai_titles_search">
        <input id="hentai_titles_search_criteria" type="text" placeholder="Search by hentai title name or alternative names">
        <label for="search" class="ui button">
          <i class="search icon"></i>Search
        </label>
      </div>
    </div>
  </div>

  <div class="sixteen wide column">
    <form class="ui form">
      <div class="fields">
        <div class="field">
          <label for="hentai_titles_search_type">Type</label>
          <select class="ui fluid dropdown" name="hentai_titles_search_type" id="hentai_titles_search_type">
            <option value="">All</option>
          </select>
        </div>
        <div class="field">
          <label for="hentai_titles_search_language">Language</label>
          <select class="ui fluid dropdown" name="hentai_titles_search_language" id="hentai_titles_search_language">
            <option value="">All</option>
          </select>
        </div>
        <div class="field">
          <label for="hentai_titles_search_status_download">Down</label>
          <select class="ui fluid dropdown" name="hentai_titles_search_status_download" id="hentai_titles_search_status_download">
            <option value="">All</option>
          </select>
        </div>
        <div class="field">
          <label for="hentai_titles_search_status_view">View</label>
          <select class="ui fluid dropdown" name="hentai_titles_search_status_view" id="hentai_titles_search_status_view">
            <option value="">All</option>
          </select>
        </div>
        <div class="field">
          <label for="hentai_titles_search_fansubs">Fansubs</label>
          <select class="ui fluid dropdown" name="hentai_titles_search_fansubs" id="hentai_titles_search_fansubs">
            <option value="">All</option>
          </select>
        </div>
        <div class="field">
          <label for="hentai_titles_search_tags">Tags</label>
          <select class="ui fluid dropdown" name="hentai_titles_search_tags" id="hentai_titles_search_tags">
            <option value="">All</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="sixteen wide column">
    <table class="ui celled table" id="hentai_titles_data">
      <caption></caption>
      <thead>
        <tr>
          <th class="collapsing">ID</th>
          <th>Name</th>
          <th class="collapsing">Type</th>
          <th class="collapsing">Lang</th>
          <th class="collapsing">Eps</th>
          <th class="collapsing">Down</th>
          <th class="collapsing">View</th>
          <th class="collapsing">Fansubs, Tags, Files</th>
          <th class="collapsing">Created</th>
          <th class="collapsing">Updated</th>
          <th class="collapsing"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="center aligned hentai_titles_data_norows" hidden>
          <td colspan="11">None hentai titles found</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="sixteen wide column">
    <div class="ui modal hentai_titles_modal">
      <i class="close icon"></i>
      <div class="header">Form</div>
      <div class="content">
        <form class="ui form hentai_titles_form">
          <input type="hidden" name="hentai_titles_form_id" id="hentai_titles_form_id" value="" />
          <div class="field">
            <label for="hentai_titles_form_name">Name</label>
            <input type="text" name="hentai_titles_form_name" id="hentai_titles_form_name" placeholder="Name of hentai title name">
          </div>
          <div class="field">
            <label for="hentai_titles_form_alternative_names">Short Text</label>
            <textarea rows="2" name="hentai_titles_form_alternative_names" id="hentai_titles_form_alternative_names"></textarea>
          </div>
          <div class="three fields">
            <div class="field">
              <label for="hentai_titles_form_type">Type</label>
              <select class="ui fluid dropdown" name="hentai_titles_form_type" id="hentai_titles_form_type">
                <option value="random">random</option>
              </select>
            </div>
            <div class="field">
              <label for="hentai_titles_form_language">Language</label>
              <select class="ui fluid dropdown" name="hentai_titles_form_language" id="hentai_titles_form_language">
                <option value="random">random</option>
              </select>
            </div>
            <div class="field">
              <label for="hentai_titles_form_episodes">Episodes</label>
              <input type="text" name="hentai_titles_form_episodes" id="hentai_titles_form_episodes" placeholder="Number of episodes">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label for="hentai_titles_form_status_download">Status Download</label>
              <select class="ui fluid dropdown" name="hentai_titles_form_status_download" id="hentai_titles_form_status_download">
                <option value="random">random</option>
              </select>
            </div>
            <div class="field">
              <label for="hentai_titles_form_status_view">Status View</label>
              <select class="ui fluid dropdown" name="hentai_titles_form_status_view" id="hentai_titles_form_status_view">
                <option value="random">random</option>
              </select>
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label for="hentai_titles_form_fansubs">Fansubs</label>
              <select class="ui fluid dropdown" name="hentai_titles_form_fansubs" id="hentai_titles_form_fansubs">
                <option value="random">random</option>
              </select>
            </div>
            <div class="field">
              <label for="hentai_titles_form_tags">Tags</label>
              <select class="ui fluid dropdown" name="hentai_titles_form_tags" id="hentai_titles_form_tags">
                <option value="random">random</option>
              </select>
            </div>
          </div>
          <div class="field">
            <label for="hentai_titles_form_video_files">Video files</label>
            <textarea rows="4" name="hentai_titles_form_video_files" id="hentai_titles_form_video_files"></textarea>
          </div>
          <div class="ui error message"></div>
          <div class="ui submit primary button">Send</div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}