{% extends "base.html.twig" %}

{% block title %}Hentai Tags{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
  $('#search-data label').bind('click', function () {
    searchHentaiTags();
  });

  getTableData();
});//$(document).ready

function getTableData() {
  $('#tags tbody .tags_row').remove();
  $.get('/api/hentai/tags', function(object, status) {
    if (object.data.length < 1) {
      $('#tags tbody .tags_norows').show();
      return;
    }

    $('#tags tbody .tags_norows').hide();
    $.each(object.data, function (i, item) {
      $('#tags tbody').append(
        getTagRow(item.id, item.name, formatDate(item.createdAt), formatDate(item.updatedAt))
      );
    });

    $('.tag_edit').bind('click', function () {
      alertError('Soon');
    });
    $('.tag_remove').bind('click', function () {
      alertError('Soon');
    });
  });
}//getFansubData

function searchHentaiTags() {
  $('#tags tbody .tags_norows').hide();
  $('#tags tbody .tags_row').show();

  const searchCriteria = $('#search').val();
  if (searchCriteria == '') {
    return;
  }

  let listSize = $('#tags tbody .tags_row').length;
  let hideCount = 0;

  $('#tags tbody .tags_row').each(function() {
    let hide = true;

    let row = $(this);
    const tagName = row.data('search-hentai-tag-name');
    if (tagName.toLowerCase().includes(searchCriteria.toLowerCase())) {
      hide = false;
    }

    if (hide) {
      row.hide();
      hideCount++;
    }
  });

  if (hideCount == listSize) {
    $('#tags tbody .tags_norows').show();
  }
}//searchHentaiTags

function getTagRow(id, name, created, updated) {
  return `<tr
      class="tags_row"
      data-search-hentai-tag-name="${name}"
    >
    <td>${name}</td>
    <td class="collapsing">${created}</td>
    <td class="collapsing">${updated}</td>
    <td class="collapsing">
      <button class="ui icon button tag_edit">
      <i class="edit icon"></i>
      </button>
      <button class="ui icon button tag_remove">
      <i class="trash icon"></i>
      </button>
    </td>
  </tr>`;
}//getTagRow
</script>
{% endblock %}

{% block body %}
<h1 class="ui dividing header">Hentai Tags</h1>

<div class="ui grid">
  <div class="two wide column">
    <button class="ui button" id="new_tag"><i class="star icon"></i> New</button>
  </div>
  <div class="fourteen wide column">
    <div class="ui file action input" id="search-data">
      <input id="search" type="text" placeholder="Search by name of hentai tag">
      <label for="search" class="ui button">
        <i class="search icon"></i>Search
      </label>
    </div>
  </div>
  <div class="sixteen wide column">
    <table class="ui celled table" id="tags">
      <caption></caption>
      <thead>
        <tr>
          <th>Name</th>
          <th class="collapsing">Created</th>
          <th class="collapsing">Updated</th>
          <th class="collapsing"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="center aligned tags_norows" hidden>
          <td colspan="4">None tag found</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}