{% extends "base.html.twig" %}

{% block title %}Hentai Titles{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
  $('#hentai_titles_new').bind('click', function () {
    openFormModal();
  });

  $('#hentai_titles_search_criteria').keydown(function(e) {
    const keycode = (e.keyCode ? e.keyCode : e.which);
    if (keycode == '13') {
      searchHentaiTitles();
    }
  });

  $('#hentai_titles_search label').bind('click', function () {
    searchHentaiTitles();
  });

  getHentaiTitleData();
  addFormValidation();
});//$(document).ready

$('.hentai_titles_form').submit(function(e) {
  const isValid = $('.hentai_titles_form').form('is valid');
  if (isValid) {
    e.preventDefault();
    const id = $('#hentai_titles_form_id').val();
    id === '' ? submitNewTag() : submitEditTag();
  }
  return false;
});//$('.hentai_titles_form').submit

function submitNewHentaiTitle() {
  jsonData = {
    name: $('#hentai_titles_form_name').val()
  };

  $.ajax({
    type: 'POST',
    url: '/api/hentai/titles',
    data: JSON.stringify(jsonData),
    contentType: 'application/json',
    encode: true,
    success: function (data, textStatus, xhr) {
      closeFormModal();
      getTagData();
      alertSuccess(`Hentai title ${jsonData.name} created with success`);
    },
    error: function(jqXHR, textStatus, errorThrown) {
      let message = 'Anything wrong is not right';
      alertError(message);
    },
  });
}//submitNewHentaiTitle

function submitEditHentaiTitle() {
  alertInfo('Soon');
}//submitEditHentaiTitle

function getHentaiTitleData() {
  $('#hentai_titles_data tbody .hentai_titles_data_row').remove();
  $.get('/api/hentai/titles', function(object, status) {
    if (object.data.length < 1) {
      $('#hentai_titles_data tbody .hentai_titles_data_norows').show();
      return;
    }

    $('#hentai_titles_data tbody .hentai_titles_data_norows').hide();
    $.each(object.data, function (i, item) {
      $('#hentai_titles_data tbody').append(
        getHentaiTitleRow(
          item.id,
          item.name,
          item.alternativeNames,
          item.type,
          item.language,
          item.episodes,
          item.statusDownload,
          item.statusView,
          item.fansubs,
          item.tags,
          item.files,
          formatDate(item.createdAt),
          formatDate(item.updatedAt)
        )
      );
    });

    addPopups();

    $('.hentai_titles_edit').bind('click', function () {
      alertInfo('Soon');
    });
    $('.hentai_titles_remove').bind('click', function () {
      alertInfo('Soon');
    });
  });
}//getHentaiTitleData

function getHentaiTitleRow(
  id,
  name,
  alternativeNames,
  type,
  language,
  episodes,
  statusDownload,
  statusView,
  fansubs,
  tags,
  files,
  created,
  updated
) {
  return `<tr
      class="hentai_titles_data_row"
      data-hentai-titles-search-name="${name}"
    >
    <td class="collapsing">${id}</td>
    <td>${getHentaiTitleAlternativeNamesPopup(name, alternativeNames)}</td>
    <td class="collapsing">${type}</td>
    <td class="collapsing">${language}</td>
    <td class="collapsing">${episodes}</td>
    <td class="collapsing">${statusDownload}</td>
    <td class="collapsing">${statusView}</td>
    <td class="collapsing">${getHentaiTitleFansubsPopup(fansubs)} ${getHentaiTitleFilesPopup(files)} ${getHentaiTitleTagsPopup(tags)}</td>
    <td class="collapsing">${created}</td>
    <td class="collapsing">${updated}</td>
    <td class="collapsing">
      <button class="ui icon button hentai_titles_edit">
      <i class="edit icon"></i>
      </button>
      <button class="ui icon button hentai_titles_remove">
      <i class="trash icon"></i>
      </button>
    </td>
  </tr>`;
}//getHentaiTitleRow

function getHentaiTitleAlternativeNamesPopup(name, alternativeNames) {
  if (alternativeNames.length < 1) {
    return name;
  }

  const html = `<div class='header'>Alternative Names</div><div class='content'>${alternativeNames.join('<br />')}</div>`;

  return `<div
    class="hentai_titles_popup"
    data-html="${html}">
    ${name} <i class="mouse pointer icon"></i>
  </div>`;
}//getHentaiTitleAlternativeNamesPopup

function getHentaiTitleFansubsPopup(fansubs) {
  if (fansubs.length < 1) {
    return '<div class="ui icon button"><i class="icon"></i></div>';
  }

  fansubsName = [];
  $.each(fansubs, function (i, item) {
    fansubsName.push(item.name);
  });

  const html = `<div class='header'>Fansubs</div><div class='content'>${fansubsName.join('<br />')}</div>`;

  return `<div
    class="ui icon button hentai_titles_popup"
    data-html="${html}">
    <i class="palette icon"></i>
  </div>`;
}//getHentaiTitleFansubsPopup

function getHentaiTitleFilesPopup(files) {
  if (files.length < 1) {
    return '<div class="ui icon button"><i class="icon"></i></div>';
  }

  const html = `<div class='header'>Files</div><div class='content'>${files.join('<br />')}</div>`;

  return `<div
    class="ui icon button hentai_titles_popup"
    data-html="${html}">
    <i class="video icon"></i>
  </div>`;
}//getHentaiTitleFilesPopup

function getHentaiTitleTagsPopup(tags) {
  if (tags.length < 1) {
    return '<div class="ui icon button"><i class="icon"></i></div>';
  }

  const html = `<div class='header'>Tags</div><div class='content'>${tags.join('<br />')}</div>`;

  return `<div
    class="ui icon button hentai_titles_popup"
    data-html="${html}">
    <i class="tags icon"></i>
  </div>`;
}//getHentaiTitleTagsPopup

function searchHentaiTitles() {
  $('#hentai_titles_data tbody .hentai_titles_data_norows').hide();
  $('#hentai_titles_data tbody .hentai_titles_data_row').show();

  const searchCriteria = $('#hentai_titles_search_criteria').val();
  if (searchCriteria == '') {
    return;
  }

  let listSize = $('#hentai_titles_data tbody .hentai_titles_data_row').length;
  let hideCount = 0;

  $('#hentai_titles_data tbody .hentai_titles_data_row').each(function() {
    let hide = true;

    let row = $(this);
    const resourceName = row.data('hentai-titles-search-name');
    if (resourceName.toLowerCase().includes(searchCriteria.toLowerCase())) {
      hide = false;
    }

    if (hide) {
      row.hide();
      hideCount++;
    }
  });

  if (hideCount == listSize) {
    $('#hentai_titles_data tbody .hentai_titles_data_norows').show();
  }
}//searchHentaiTitles

function openFormModal() {
  $('.hentai_titles_modal')
    .modal({
      closable: false,
      closeIcon: true,
      onHidden: function(){
        clearForm();
      },
      onApprove: function() {
        $('.hentai_titles_form').submit();
        return false;
      }
    })
    .modal('show')
  ;
}//openFormModal

function closeFormModal() {
  $('.hentai_titles_modal').modal('hide');
}//closeFormModal

function addFormValidation() {
  $('.hentai_titles_form')
    .form({
      on: 'submit',
      fields: {
        hentai_titles_form_name: {
          identifier: 'hentai_titles_form_name',
          rules: [
            {
              type: 'empty',
              prompt: 'Fill name of hentai title'
            }
          ]
        }
      }
    })
  ;
}//addFormValidation

function clearForm() {
  $('.hentai_titles_form').form('reset');
}//clearForm

function addPopups() {
  $('.hentai_titles_popup').popup({delay: {
    show: 700,
    hide: 10
  }});
}//addPopups
</script>
{% endblock %}

{% block body %}
<h1 class="ui dividing header">Hentai Titles</h1>

<div class="ui grid">
  <div class="two wide column">
    <button class="ui button" id="hentai_titles_new"><i class="star icon"></i> New</button>
  </div>
  <div class="fourteen wide column">
    <div class="ui file action input" id="hentai_titles_search">
      <input id="hentai_titles_search_criteria" type="text" placeholder="Search by hentai title name">
      <label for="search" class="ui button">
        <i class="search icon"></i>Search
      </label>
    </div>
  </div>

  <div class="sixteen wide column">
    <table class="ui celled table" id="hentai_titles_data">
      <caption></caption>
      <thead>
        <tr>
          <th class="collapsing">ID</th>
          <th>Name</th>
          <th class="collapsing">Type</th>
          <th class="collapsing">Lang</th>
          <th class="collapsing">Eps</th>
          <th class="collapsing">Down</th>
          <th class="collapsing">View</th>
          <th class="collapsing">Fansubs, Files, Tags</th>
          <th class="collapsing">Created</th>
          <th class="collapsing">Updated</th>
          <th class="collapsing"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="center aligned hentai_titles_data_norows" hidden>
          <td colspan="11">None hentai titles found</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="sixteen wide column">
    <div class="ui modal hentai_titles_modal">
    <i class="close icon"></i>
    <div class="header">Form</div>
    <div class="content">
      <form class="ui form hentai_titles_form">
        <input type="hidden" name="hentai_titles_form_id" id="hentai_titles_form_id" value="" />
        <div class="field">
          <label for="hentai_titles_form_name">Name</label>
          <input type="text" name="hentai_titles_form_name" id="hentai_titles_form_name" placeholder="Name of hentai title name">
        </div>
        <div class="ui error message"></div>
        <div class="ui submit primary button">Send</div>
      </form>
    </div>
  </div>
</div>
{% endblock %}