{% extends "base.html.twig" %}

{% block title %}Hentai Titles{% endblock %}

{% block stylesheets %}
  <style type="text/css">
    .ui[class*="very wide"].popup {
      max-width: 950px;
    }
  </style>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
  $('#hentai_titles_new').bind('click', function () {
    openFormModal();
  });

  $('#hentai_titles_search_criteria').keydown(function(e) {
    const keycode = (e.keyCode ? e.keyCode : e.which);
    if (keycode == '13') {
      searchHentaiTitles();
    }
  });

  $('#hentai_titles_search label').bind('click', function () {
    searchHentaiTitles();
  });

  $('#hentai_titles_search_type').bind('change', function () {
    searchHentaiTitles();
  });

  $('#hentai_titles_search_language').bind('change', function () {
    searchHentaiTitles();
  });

  $('#hentai_titles_search_rating').bind('change', function () {
    searchHentaiTitles();
  });

  $('#hentai_titles_search_status_download').bind('change', function () {
    searchHentaiTitles();
  });

  $('#hentai_titles_search_status_view').bind('change', function () {
    searchHentaiTitles();
  });

  $('#hentai_titles_search_fansubs').bind('change', function () {
    searchHentaiTitles();
  });

  $('#hentai_titles_search_tags').bind('change', function () {
    searchHentaiTitles();
  });

  populateHentaiTitleType();
  populateHentaiTitleLanguage();
  populateHentaiTitleRating();
  populateHentaiTitleStatusDownload();
  populateHentaiTitleStatusView();
  populateFansubs();
  populateTags();

  getHentaiTitleData();
  addFormValidation();
  addRatingForm();
  clearForm();

  const queryStringParams = new URLSearchParams(window.location.search);
  $('#hentai_titles_search_criteria').val(queryStringParams.get('searchCriteria') ?? '');
  $('#hentai_titles_search_language').val(queryStringParams.get('language'));
  $('#hentai_titles_search_status_download').val(queryStringParams.get('statusDownload'));
  $('#hentai_titles_search_status_view').val(queryStringParams.get('statusView'));
});//$(document).ready

$('.hentai_titles_form').submit(function(e) {
  const isValid = $('.hentai_titles_form').form('is valid');
  if (isValid) {
    e.preventDefault();
    const id = $('#hentai_titles_form_id').val();
    id === '' ? submitNewHentaiTitle() : submitEditHentaiTitle(id);
  }
  return false;
});//$('.hentai_titles_form').submit

function submitNewHentaiTitle() {
  lockForm();
  const jsonData = getFormData();

  $.ajax({
    type: 'POST',
    url: '/api/hentai/titles',
    data: JSON.stringify(jsonData),
    contentType: 'application/json',
    encode: true,
    success: function (data, textStatus, xhr) {
      unlockForm();
      clearForm();
      closeFormModal();
      getHentaiTitleData();
      alertSuccess(`Hentai title ${jsonData.name} created with success`);
    },
    error: function(jqXHR, textStatus, errorThrown) {
      unlockForm();
      alertError('Anything wrong is not right');
    },
  });
}//submitNewHentaiTitle

function submitEditHentaiTitle(id) {
  lockForm();
  const jsonData = getFormData();

  $.ajax({
    type: 'PUT',
    url: `/api/hentai/titles/${id}`,
    data: JSON.stringify(jsonData),
    contentType: 'application/json',
    encode: true,
    success: function (data, textStatus, xhr) {
      unlockForm();
      clearForm();
      closeFormModal();
      getHentaiTitleData();
      alertSuccess(`Hentai title ${jsonData.name} edited with success`);
    },
    error: function(jqXHR, textStatus, errorThrown) {
      unlockForm();
      alertError('Anything wrong is not right');
    },
  });
}//submitEditHentaiTitle

function getFormData() {
  const alternativeNames = [];
  const alternativeNamesData = $('#hentai_titles_form_alternative_names').val();
  $.each(alternativeNamesData.split('\n'), function (i, item) {
    if (item !== '') {
      alternativeNames.push($.trim(item));
    }
  });

  const videoFiles = [];
  const videoFilesData = $('#hentai_titles_form_video_files').val();
  $.each(videoFilesData.split('\n'), function (i, item) {
    if (item !== '') {
      videoFiles.push($.trim(item));
    }
  });

  return {
    name: $.trim($('#hentai_titles_form_name').val()),
    alternativeNames: alternativeNames,
    type: $('#hentai_titles_form_type').val(),
    language: $('#hentai_titles_form_language').val(),
    episodes: parseInt($('#hentai_titles_form_episodes').val()),
    rating: parseInt($('#hentai_titles_form_rating').val()),
    statusDownload: $('#hentai_titles_form_status_download').val(),
    statusView: $('#hentai_titles_form_status_view').val(),
    fansubs: $('#hentai_titles_form_fansubs').val().map(Number),
    tags: $('#hentai_titles_form_tags').val().map(Number),
    videoFiles: videoFiles
  };
}//getFormData

function getHentaiTitleData() {
  const queryStringParams = new URLSearchParams(window.location.search);
  const page = queryStringParams.get('page') ?? 1;
  const itemsPerPage = queryStringParams.get('itemsPerPage') ?? 10;

  const queryString = [];
  queryString.push('page=' + page);
  queryString.push('itemsPerPage=' + itemsPerPage);
  queryString.push('searchCriteria=' + (queryStringParams.get('searchCriteria') ?? ''));
  queryString.push('type=' + (queryStringParams.get('type') ?? ''));
  queryString.push('language=' + (queryStringParams.get('language') ?? ''));
  queryString.push('rating=' + (queryStringParams.get('rating') ?? -1));
  queryString.push('statusDownload=' + (queryStringParams.get('statusDownload') ?? ''));
  queryString.push('statusView=' + (queryStringParams.get('statusView') ?? ''));
  queryString.push('fansubId=' + (queryStringParams.get('fansubId') ?? 0));
  queryString.push('tagId=' + (queryStringParams.get('tagId') ?? 0));

  $('#hentai_titles_data tbody .hentai_titles_data_row').remove();
  $.get('/api/hentai/titles?' + queryString.join('&'), function(object, status) {
    buildPaginationOptions('.hentai_titles_pagination', object.total, page, itemsPerPage);

    $('#hentai_titles_total_rows').html(object.total);

    if (object.data.length < 1) {
      $('#hentai_titles_data tbody .hentai_titles_data_norows').show();
      return;
    }

    $('#hentai_titles_data tbody .hentai_titles_data_norows').hide();
    $.each(object.data, function (i, item) {
      $('#hentai_titles_data tbody').append(
        getHentaiTitleRow(
          item.id,
          item.name,
          item.alternativeNames,
          item.type,
          item.language,
          item.episodes,
          item.rating,
          item.statusDownload,
          item.statusView,
          item.fansubs,
          item.tags,
          item.videoFiles,
          formatDate(item.createdAt),
          formatDate(item.updatedAt)
        )
      );
    });

    addPopups();
    addRating();

    $('.hentai_titles_edit').bind('click', function () {
      const button = $(this);
      const id = button.data('hentai-titles-id');
      getHentaiTitleDataForm(id);
    });

    $('.hentai_titles_remove').bind('click', function () {
      alertInfo('Soon');
    });
  });
}//getHentaiTitleData

function getHentaiTitleDataForm(id) {
  $.get(`/api/hentai/titles/${id}`, function(object, status) {
    fansubs = [];
    $.each(object.fansubs, function (i, item) {
      fansubs.push(item.id);
    });

    tags = [];
    $.each(object.tags, function (i, item) {
      tags.push(item.id);
    });

    $('#hentai_titles_form_id').val(object.id);
    $('#hentai_titles_form_name').val(object.name);
    $('#hentai_titles_form_alternative_names').val(object.alternativeNames.join('\n'));
    $('#hentai_titles_form_name').val(object.name);
    $('#hentai_titles_form_type').dropdown('set selected', object.type);
    $('#hentai_titles_form_language').dropdown('set selected', object.language);
    $('#hentai_titles_form_episodes').val(object.episodes);
    $('.hentai_titles_form_rating_select').rating('set rating', object.rating);
    $('#hentai_titles_form_rating').val(object.rating);
    $('#hentai_titles_form_status_download').dropdown('set selected', object.statusDownload);
    $('#hentai_titles_form_status_view').dropdown('set selected', object.statusView);
    $('#hentai_titles_form_fansubs').dropdown('set selected', fansubs);
    $('#hentai_titles_form_tags').dropdown('set selected', tags);
    $('#hentai_titles_form_video_files').val(object.videoFiles.join('\n'));
  });

  openFormModal();
}//getHentaiTitleDataForm

function getHentaiTitleRow(
  id,
  name,
  alternativeNames,
  type,
  language,
  episodes,
  rating,
  statusDownload,
  statusView,
  fansubs,
  tags,
  videoFiles,
  created,
  updated
) {
  return `<tr>
    <td>${getHentaiTitleAlternativeNamesPopup(name, alternativeNames)}</td>
    <td class="collapsing">${type}</td>
    <td class="collapsing">${language}</td>
    <td class="collapsing">${episodes}</td>
    <td class="collapsing">
      <div class="ui yellow rating hentai_titles_rating" data-icon="star" data-rating="${rating}"></div>
    </td>
    <td class="collapsing">${statusDownload}</td>
    <td class="collapsing">${statusView}</td>
    <td class="collapsing">${getHentaiTitleFansubs(fansubs)} ${getHentaiTitleTags(tags)} ${getHentaiTitleFilesPopup(videoFiles)}</td>
    <td class="collapsing">${created}<br/>${updated}</td>
    <td class="collapsing">
      <button class="ui icon button hentai_titles_edit" data-hentai-titles-id="${id}">
        <i class="edit icon"></i>
      </button>
      <button class="ui icon button hentai_titles_remove">
        <i class="trash icon"></i>
      </button>
    </td>
  </tr>`;
}//getHentaiTitleRow

function getHentaiTitleAlternativeNamesPopup(name, alternativeNames) {
  if (alternativeNames.length < 1) {
    return name;
  }

  const html = `<div class='header'>Alternative Names</div><div class='content'>${alternativeNames.join('<br />')}</div>`;

  return `<div
    class="hentai_titles_popup"
    data-html="${html}"
    data-position="top center"
    data-variation="very wide"
  >
    ${name} <i class="mouse pointer icon"></i>
  </div>`;
}//getHentaiTitleAlternativeNamesPopup

function getHentaiTitleFansubs(fansubs) {
  if (fansubs.length < 1) {
    return '<div class="ui icon button"><i class="icon"></i></div>';
  }

  fansubsName = [];
  $.each(fansubs, function (i, item) {
    fansubsName.push(item.name);
  });

  const html = `<div class='header'>Fansubs</div><div class='content'>${fansubsName.join('<br />')}</div>`;
  return `<div
    class="ui icon button hentai_titles_popup"
    data-html="${html}"
    data-position="top center"
    data-variation="very wide"
  >
    <i class="palette icon"></i>
  </div>`;
}//getHentaiTitleFansubs

function getHentaiTitleTags(tags) {
  if (tags.length < 1) {
    return '<div class="ui icon button"><i class="icon"></i></div>';
  }

  tagsResourceName = [];
  $.each(tags, function (i, item) {
    tagsResourceName.push(item.resourceName);
  });

  const html = `<div class='header'>Tags</div><div class='content'>${tagsResourceName.join('<br />')}</div>`;
  return `<div
    class="ui icon button hentai_titles_popup"
    data-html="${html}"
    data-position="top center"
    data-variation="very wide"
  >
    <i class="tags icon"></i>
  </div>`;
}//getHentaiTitleTags

function getHentaiTitleFilesPopup(files) {
  if (files.length < 1) {
    return '<div class="ui icon button"><i class="icon"></i></div>';
  }

  const html = `<div class='header'>Video files</div><div class='content'>${files.join('<br />')}</div>`;

  return `<div
    class="ui icon button hentai_titles_popup"
    data-html="${html}"
    data-position="top center"
    data-variation="very wide"
  >
    <i class="video icon"></i>
  </div>`;
}//getHentaiTitleFilesPopup

function searchHentaiTitles() {
  $('#hentai_titles_data tbody .hentai_titles_data_norows').hide();
  $('#hentai_titles_data tbody .hentai_titles_data_row').show();

  const url = new URL(window.location.href);
  url.searchParams.set('searchCriteria', $('#hentai_titles_search_criteria').val());
  url.searchParams.set('type', $('#hentai_titles_search_type').val());
  url.searchParams.set('language', $('#hentai_titles_search_language').val());
  url.searchParams.set('rating', $('#hentai_titles_search_rating').val());
  url.searchParams.set('statusDownload', $('#hentai_titles_search_status_download').val());
  url.searchParams.set('statusView', $('#hentai_titles_search_status_view').val());
  url.searchParams.set('fansubId', $('#hentai_titles_search_fansubs').val());
  url.searchParams.set('tagId', $('#hentai_titles_search_tags').val());

  url.searchParams.set('page', 1);
  window.location.href = url.toString();
}//searchHentaiTitles

function populateHentaiTitleType() {
  $.get('/api/hentai/titles/types', function(object, status) {
    if (object.data.length < 1) {
      return;
    }

    const queryStringParams = new URLSearchParams(window.location.search);

    $.each(object.data, function (i, item) {
      $('#hentai_titles_search_type').append($('<option>', {
          value: item,
          text: item,
          selected: item === queryStringParams.get('type')
      }));
      $('#hentai_titles_form_type').append($('<option>', {
          value: item,
          text: item
      }));
    });
  });
}//populateHentaiTitleType

function populateHentaiTitleLanguage() {
  $.get('/api/hentai/titles/languages', function(object, status) {
    if (object.data.length < 1) {
      return;
    }

    const queryStringParams = new URLSearchParams(window.location.search);

    $.each(object.data, function (i, item) {
      $('#hentai_titles_search_language').append($('<option>', {
          value: item,
          text: item,
          selected: item === queryStringParams.get('language')
      }));
      $('#hentai_titles_form_language').append($('<option>', {
          value: item,
          text: item
      }));
    });
  });
}//populateHentaiTitleLanguage

function populateHentaiTitleRating() {
  const data = ['0', '1', '2', '3', '4', '5'];
  const queryStringParams = new URLSearchParams(window.location.search);

  $.each(data, function (i, item) {
    $('#hentai_titles_search_rating').append($('<option>', {
        value: item,
        text: item,
        selected: item === queryStringParams.get('rating')
    }));
  });
}//populateHentaiTitleRating

function populateHentaiTitleStatusDownload() {
  $.get('/api/hentai/titles/statuses-download', function(object, status) {
    if (object.data.length < 1) {
      return;
    }

    const queryStringParams = new URLSearchParams(window.location.search);

    $.each(object.data, function (i, item) {
      $('#hentai_titles_search_status_download').append($('<option>', {
          value: item,
          text: item,
          selected: item === queryStringParams.get('statusDownload')
      }));
      $('#hentai_titles_form_status_download').append($('<option>', {
          value: item,
          text: item
      }));
    });
  });
}//populateHentaiTitleStatusDownload

function populateHentaiTitleStatusView() {
  $.get('/api/hentai/titles/statuses-view', function(object, status) {
    if (object.data.length < 1) {
      return;
    }

    const queryStringParams = new URLSearchParams(window.location.search);

    $.each(object.data, function (i, item) {
      $('#hentai_titles_search_status_view').append($('<option>', {
          value: item,
          text: item,
          selected: item === queryStringParams.get('statusView')
      }));
      $('#hentai_titles_form_status_view').append($('<option>', {
          value: item,
          text: item
      }));
    });
  });
}//populateHentaiTitleStatusView

function populateFansubs() {
  $.get('/api/fansubs?page1&itemsPerPage=10000', function(object, status) {
    if (object.data.length < 1) {
      return;
    }

    const queryStringParams = new URLSearchParams(window.location.search);

    $.each(object.data, function (i, item) {
      $('#hentai_titles_search_fansubs').append($('<option>', {
          value: item.id,
          text: item.name,
          selected: item.id == queryStringParams.get('fansubId')
      }));
      $('#hentai_titles_form_fansubs').append($('<option>', {
          value: item.id,
          text: item.name
      }));
    });
  });
}//populateFansubs

function populateTags() {
  $.get('/api/tags?page1&itemsPerPage=10000', function(object, status) {
    if (object.data.length < 1) {
      return;
    }

    const queryStringParams = new URLSearchParams(window.location.search);

    $.each(object.data, function (i, item) {
      $('#hentai_titles_search_tags').append($('<option>', {
          value: item.id,
          text: item.resourceName,
          selected: item.id == queryStringParams.get('tagId')
      }));
      $('#hentai_titles_form_tags').append($('<option>', {
          value: item.id,
          text: item.resourceName
      }));
    });
  });
}//populateTags

function openFormModal() {
  $('.hentai_titles_modal')
    .modal({
      closable: false,
      closeIcon: true,
      onHidden: function(){
        clearForm();
      },
      onApprove: function() {
        $('.hentai_titles_form').submit();
        return false;
      }
    })
    .modal('show')
  ;
}//openFormModal

function closeFormModal() {
  $('.hentai_titles_modal').modal('hide');
}//closeFormModal

function addFormValidation() {
  $('.hentai_titles_form')
    .form({
      on: 'submit',
      shouldTrim: true,
      fields: {
        hentai_titles_form_name: {
          identifier: 'hentai_titles_form_name',
          rules: [
            {
              type: 'empty',
              prompt: 'Fill name of hentai title',
            }
          ]
        },
        hentai_titles_form_episodes: {
          identifier: 'hentai_titles_form_episodes',
          rules: [
            {
              type: 'integer[0..99]',
              prompt: 'Fill with a number of episodes'
            }
          ]
        },
        hentai_titles_form_fansubs: {
          identifier: 'hentai_titles_form_fansubs',
          rules: [
            {
              type: 'minLength[1]',
              prompt: 'Fill with at least one fansub'
            }
          ]
        }
      }
    })
  ;
}//addFormValidation

function clearForm() {
  $('.hentai_titles_form').form('reset');
  $('.hentai_titles_form').trigger('reset');
  $('.hentai_titles_form_rating_select').rating('set rating', 0);
}//clearForm

function lockForm() {
  $('.hentai_titles_form div.field').addClass('disabled');
  $('.hentai_titles_form .submit').addClass('disabled');
  $('.hentai_titles_form .submit').addClass('loading');
  $('.hentai_titles_form_rating_select').rating('disable');
}//lockForm

function unlockForm() {
  $('.hentai_titles_form div.field').removeClass('disabled');
  $('.hentai_titles_form .submit').removeClass('disabled');
  $('.hentai_titles_form .submit').removeClass('loading');
  $('.hentai_titles_form_rating_select').rating('enable');
}//unlockForm

function addPopups() {
  $('.hentai_titles_popup').popup({
    delay: {
      show: 700,
      hide: 100
    },
    hoverable: true,
  });
}//addPopups

function addRatingForm() {
  $('.hentai_titles_form_rating_select').rating({
    maxRating: 5,
    onRate: function (value) {
      $('#hentai_titles_form_rating').val(value);
    },
  });
}//addRatingForm

function addRating() {
  $('.hentai_titles_rating').rating({
    maxRating: 5,
    interactive: false,
  });
}//addRating
</script>
{% endblock %}

{% block body %}
<div class="ui menu">
  <a class="item" href="/pato/fansub">Fansubs</a>
  <a class="item" href="/pato/tag">Tags</a>
  <a class="item active">Hentai Titles</a>
</div>

<h1 class="ui dividing header">Hentai Titles</h1>

<div class="ui grid">
  <div class="two wide column">
    <button class="ui button" id="hentai_titles_new"><i class="star icon"></i> New</button>
  </div>
  <div class="fourteen wide column">
    <div class="field">
      <div class="ui file action input" id="hentai_titles_search">
        <input id="hentai_titles_search_criteria" name="hentai_titles_search_criteria" type="text" placeholder="Search by hentai title, alternative names or video files">
        <label for="hentai_titles_search_criteria" class="ui button">
          <i class="search icon"></i>Search
        </label>
      </div>
    </div>
  </div>

  <div class="sixteen wide column">
    <form class="ui form">
      <div class="fields">
        <div class="field">
          <label for="hentai_titles_search_type">Type</label>
          <select class="ui fluid dropdown" name="hentai_titles_search_type" id="hentai_titles_search_type">
            <option value="">All</option>
          </select>
        </div>
        <div class="field">
          <label for="hentai_titles_search_language">Language</label>
          <select class="ui fluid dropdown" name="hentai_titles_search_language" id="hentai_titles_search_language">
            <option value="">All</option>
          </select>
        </div>
        <div class="field">
          <label for="hentai_titles_search_rating">Rating</label>
          <select class="ui fluid dropdown" name="hentai_titles_search_rating" id="hentai_titles_search_rating">
            <option value="">All</option>
          </select>
        </div>
        <div class="field">
          <label for="hentai_titles_search_status_download">Down</label>
          <select class="ui fluid dropdown" name="hentai_titles_search_status_download" id="hentai_titles_search_status_download">
            <option value="">All</option>
          </select>
        </div>
        <div class="field">
          <label for="hentai_titles_search_status_view">View</label>
          <select class="ui fluid dropdown" name="hentai_titles_search_status_view" id="hentai_titles_search_status_view">
            <option value="">All</option>
          </select>
        </div>
        <div class="field">
          <label for="hentai_titles_search_fansubs">Fansubs</label>
          <select class="ui fluid dropdown" name="hentai_titles_search_fansubs" id="hentai_titles_search_fansubs">
            <option value="">All</option>
          </select>
        </div>
        <div class="field">
          <label for="hentai_titles_search_tags">Tags</label>
          <select class="ui fluid dropdown" name="hentai_titles_search_tags" id="hentai_titles_search_tags">
            <option value="">All</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="sixteen wide column">
    <div class="ui pagination menu centered hentai_titles_pagination" id="hentai_titles_pagination_top">
    </div>

    <table class="ui celled table" id="hentai_titles_data">
      <caption></caption>
      <thead>
        <tr>
          <th>Name</th>
          <th class="collapsing">Type</th>
          <th class="collapsing">Lang</th>
          <th class="collapsing">Eps</th>
          <th class="collapsing">Rating</th>
          <th class="collapsing">Down</th>
          <th class="collapsing">View</th>
          <th class="collapsing">Fansubs, Tags, Files</th>
          <th class="collapsing">Created<br/>Updated</th>
          <th class="collapsing"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="center aligned hentai_titles_data_norows" hidden>
          <td colspan="10">None hentai titles found</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="center aligned">
          <td colspan="10">Total Rows: <span id="hentai_titles_total_rows">0</span></th>
        </tr>
      </tfoot>
    </table>

    <div class="ui pagination menu centered hentai_titles_pagination" id="hentai_titles_pagination_bottom">
    </div>
  </div>

  <div class="sixteen wide column">
    <div class="ui modal hentai_titles_modal">
      <i class="close icon"></i>
      <div class="header">Form</div>
      <div class="content">
        <form class="ui form hentai_titles_form">
          <input type="hidden" name="hentai_titles_form_id" id="hentai_titles_form_id" value="" />
          <div class="field">
            <label for="hentai_titles_form_name">Name</label>
            <input type="text" name="hentai_titles_form_name" id="hentai_titles_form_name" placeholder="Name of hentai title name">
          </div>
          <div class="field">
            <label for="hentai_titles_form_alternative_names">Alternative names</label>
            <textarea rows="2" name="hentai_titles_form_alternative_names" id="hentai_titles_form_alternative_names" placeholder="Alternative names of hentai title"></textarea>
          </div>
          <div class="three fields">
            <div class="field">
              <label for="hentai_titles_form_type">Type</label>
              <select class="ui fluid dropdown" name="hentai_titles_form_type" id="hentai_titles_form_type">
              </select>
            </div>
            <div class="field">
              <label for="hentai_titles_form_language">Language</label>
              <select class="ui fluid dropdown" name="hentai_titles_form_language" id="hentai_titles_form_language">
              </select>
            </div>
            <div class="field">
              <label for="hentai_titles_form_episodes">Episodes</label>
              <input type="number" name="hentai_titles_form_episodes" id="hentai_titles_form_episodes" placeholder="Number of episodes">
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <label for="hentai_titles_form_status_download">Status Download</label>
              <select class="ui fluid dropdown" name="hentai_titles_form_status_download" id="hentai_titles_form_status_download">
              </select>
            </div>
            <div class="field">
              <label for="hentai_titles_form_status_view">Status View</label>
              <select class="ui fluid dropdown" name="hentai_titles_form_status_view" id="hentai_titles_form_status_view">
              </select>
            </div>
            <div class="field">
              <label for="hentai_titles_form_rating">Rating</label>
              <div class="ui yellow rating massive hentai_titles_form_rating_select" data-icon="star" data-rating="0"></div>
              <input type="hidden" name="hentai_titles_form_rating" id="hentai_titles_form_rating" value="0" />
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label for="hentai_titles_form_fansubs">Fansubs</label>
              <select multiple="" class="ui fluid dropdown" name="hentai_titles_form_fansubs" id="hentai_titles_form_fansubs">
                <option value=""></option>
              </select>
            </div>
            <div class="field">
              <label for="hentai_titles_form_tags">Tags</label>
              <select multiple="" class="ui fluid dropdown" name="hentai_titles_form_tags" id="hentai_titles_form_tags">
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="field">
            <label for="hentai_titles_form_video_files">Video files</label>
            <textarea rows="4" name="hentai_titles_form_video_files" id="hentai_titles_form_video_files" placeholder="Video files of hentai title"></textarea>
          </div>
          <div class="ui error message"></div>
          <div class="ui submit primary button">Send</div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}