{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
<div class="ui menu">
  <a class="item" href="/pato/fansub">Fansubs</a>
  <a class="item" href="/pato/tag">Tags</a>
  <a class="item" href="/pato/hentai-title">Hentai Titles</a>
</div>
{% endblock %}